body {
    margin: 0;
    font-family: C059;

}

header {
    background-color: #431CA0;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    padding: 30px 100px;
    margin: 0;
}

.content__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 50px;
}

.calendar {
    margin: auto 0;

}

.calendar__content {
    text-align: center;
}

.events, ul {
    padding: 0;
}

.events li {
    list-style-type: none;
    padding-bottom: 5px;
}